footer {
    background-color: white;
    width: 100%;
    padding-top: 2.5rem;
    margin-top: auto;
}

.footer-conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 1rem;
}

.footer-conteudo h3 {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-conteudo p {
    max-width: 31.25rem;
    margin: 0.625rem auto;
    line-height: 1.75rem;
    font-size: 0.875rem;
}

.footer-direitos {
    display: flex;
    padding: 1.25rem 0;
    text-align: center;
    justify-content: center;
    font-size: 0.8125rem;
}