.container-livros {
    width: 100%;
    max-width: 68.75rem;
    margin: 0 auto;
    padding: 1.5rem 1rem 2rem;
}

/* Media Queries */

@media (min-width: 64rem) {
    .container-livros {
        padding: 1.75rem 1.25rem 3rem;
    }
}